# Gmail SMTP settings
# Copy this file to `.env` and fill with your real credentials.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
# When using Gmail with 2FA generate an App Password and set it here
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=<TU_APP_PASSWORD_GENERADA>
SMTP_FROM=tu-correo@gmail.com
SMTP_USESSL=false
SMTP_SECURE=false

# Other values:
REACT_APP_API_URL=http://localhost:3001 # o la URL pública si ya la tienes
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
NODE_ENV=production
ADMIN_EMAIL=brandonmegia612@gmail.com
ADMIN_PASSWORD=336796uy